In [97]:
for i in range(0,1,0.1):
    print(int(i))

TypeError: 'float' object cannot be interpreted as an integer

In [98]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [100]:
for i in range(1,10,1):
    print("3x ", i, "=", 3*i)

3x  1 = 3
3x  2 = 6
3x  3 = 9
3x  4 = 12
3x  5 = 15
3x  6 = 18
3x  7 = 21
3x  8 = 24
3x  9 = 27

In [103]:
for i in range(1,10,1):
    if i%2 == 1:
        print("3x ", i, "=", 3*i)

3x  1 = 3
3x  3 = 9
3x  5 = 15
3x  7 = 21
3x  9 = 27

In [125]:
sum1 = 0
for i in range(1,11,2):
    sum1 = sum1 + i
print(sum1)

25

In [132]:
num1 = 1
for i in range(1,11):
    num1 = num1 * i
print(num1)

3628800

In [135]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [136]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [137]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [138]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+ 10*i,price_list[i])

100 32150
110 32000
120 32500

In [139]:
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)) :
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [141]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(1,4):
    print(my_list[i-1],my_list[i],my_list[i+1])

가 나 다
나 다 라
다 라 마

In [145]:
my_list = ["가", "나", "다", "라"]
for i in range(-1,-5):
    print(my_list[i],my_list[i-1])